<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="header" class="alt" th:include="include/link:: link">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container-fluid">

    <div class="d-flex bg-secondary">
        <div class="p-2 bg-info order-3">Flex item 1</div>
        <div class="p-2 bg-warning order-2">Flex item 2</div>
        <div class="p-2 bg-primary order-1">Flex item 3</div>
    </div>

</div>

</body>
<footer th:include="include/js :: js"></footer>
</html>